<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Диктовка вместо набора: в сарае руки заняты и в перчатках
         (см. lib/core/voice). -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- Метки на клетках читаются камерой (см. lib/features/cages). -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- Камера нужна, но не обязательна: на телефоне без неё
         приложение должно ставиться и работать без сканера. -->
    <uses-feature android:name="android.hardware.camera"
        android:required="false"/>
    <application
        android:label="Кроличья ферма"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Ссылка-приглашение: https://rabbitfarm.click/i — тот же
                 адрес уходит в SMS и в письме. autoVerify означает, что
                 Android при установке сходит на домен за
                 /.well-known/assetlinks.json и, найдя там отпечаток нашей
                 подписи, будет открывать ссылку приложением без вопросов.
                 Отпечаток — от ключа Play App Signing, то есть появляется
                 после первой загрузки сборки в консоль; пока его нет,
                 ссылка просто открывается браузером и человек попадает на
                 страницу с магазинами. -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"
                      android:host="rabbitfarm.click"
                      android:path="/i"/>
                <!-- Прежний домен остаётся: приглашения, разосланные до
                     переезда, должны открываться приложением, а не
                     браузером. -->
                <data android:scheme="https"
                      android:host="rabbitfarm.mubi.dev"
                      android:path="/i"/>
            </intent-filter>
            <!-- Своя схема: QR-метки на клетках и приглашения, выданные до
                 перехода на https (см. lib/core/router/deep_links.dart).
                 Работает без домена и без проверки. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="rabbitfarm" android:host="join"/>
                <!-- Метка на клетке: rabbitfarm://cage/12. Чужой сканер
                     откроет приложение на этой клетке (см.
                     lib/features/cages/presentation/utils/cage_tag.dart). -->
                <data android:scheme="rabbitfarm" android:host="cage"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Начиная с Android 11 приложение не видит распознаватель речи,
             если не объявит намерение: без этого блока диктовка молча
             сообщает, что распознавание недоступно, на исправном телефоне. -->
        <intent>
            <action android:name="android.speech.RecognitionService"/>
        </intent>
    </queries>
</manifest>
